@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Lora:400italic);
@import "styles";
@import "components/utilities";
@import "components/buttons";

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size);
  color: #777;
  line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', serif;
  line-height: 1.5em;
  margin-top: 0.15em;
  margin-bottom: 0.25em;
  color: #666;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p {
  font-family: 'Lora', serif;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 10px 0;
}

a {
  font-family: 'Roboto', serif;
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: color(var(--link-color) lightness(+ 20%));
  }
}

.features {
  margin-left: 40px;
}

.features__item {
  font-family: 'Lora', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-left: 10px;
}

.top-line {
  border-top: 3px solid var(--link-color);
}

.v-align {
  display: table;
  height: 90%;
  width: 100%;
}

.v-align-40 {
  display: table;
  height: 40%;
  width: 100%;
}

.v-align > div,
.v-align-40 > div {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.btn--download {
  background: var(--link-color);
  border-radius: 25px;
  border: 2px solid var(--link-color);
  color: white;
  padding: 10px 30px;
  &:hover {
    background: white;
    border-color: color(var(--link-color) lightness(+ 20%));
    color: color(var(--link-color) lightness(+ 20%));
  }
}

.demo {
  background: var(--success-color);
  color: #fff;
  padding: 10px;
  font-family: monospace;
  font-size: 0.9em;
}

::selection {
  background: color(var(--link-color) alpha(-20%));
  color: #fff;
}
