:root {
  /* Colors */
  --primary-color: #004358;
  --link-color: #1f8a70;
  --info-color: #33aaba;
  --success-color: #35ac39;
  --advert-color: #ffe11a;
  --warning-color: #fd7400;
  --danger-color: #fd3733;
  --light-gray-color: #ccc;
  --dark-gray-color: #333;

  /* Font parameters */
  --font-size: 16px;
  --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* Default spacing for the grid */
  --default-spacing: 1%;
  --grid-padding: 1%;

  /* Fixed Grid width */
  --fixed-grid-width: 1200px;

  /* Nav */
  --nav-item-spacing: 4%;

  /* Transition duration */
  --transition-duration: 0.3s;
}
